.app-green,.app-background,.navbar-header {
    background-color: #36bfa6 !important;
}
.be-left-sidebar .sidebar-elements > li.active > a > span, .be-left-sidebar .sidebar-elements > li.active > a {
    color: #36bfa6 !important;
}

.app-dark-green {
    border-color: #36bfa6 !important ;
}

.panel-border-color-primary {
    border-top-color: #36bfa6;
}

.panel-heading {
    border-radius: 0;
}
.remove-margin{
    margin: 0 !important;
}

.splash-description {
    color: #fff;
}

.btn-primary:hover, .btn-primary.hover {
	box-shadow: inset 0 -1px 0 #36bfa6; 
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	    box-shadow: inset 0 2px 0 #36bfa6 !important ;
}

.btn-primary:active:focus {}